<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="/customcss/login.css">
    </head>
    <body>
        <% if(loginFailed){%>
            <div>
                <p>Incorrect username or password!</p>
            </div>
        <%}%>
        <div class = "container">
            <div>
                <form method="POST" action="/login">
                    <span class = "title">Login</span>
                    <div class = "input-field">
                        <input type="text" name="username" placeholder="Username">
                        <i class = "fa-solid fa-user icon"></i>
                    </div>
                    <div class = "input-field">
                        <input type="password" name="password" placeholder="Password">
                        <i class = "fa-solid fa-lock icon"></i>
                    </div>
    
                    <button>Login</button>
                </form>
            </div>
            <div class>
                <div class = "account">
                    Don't have an account?
                </div>
                <a href="/signup">Sign up here!</a>
            </div>
        </div>
    </body>
</html>